@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    height: 1000px;
}

/* Styling of headernav */
.headernav{
    background-color: black;
}

.headerelemets{
    display: flex;
    justify-content: end; 
    position: absolute;
    top: 25px;
    right: 10px;
}

.leftporttext{
    color: white;
    padding: 15px;
    font-family: 'Roboto', sans-serif;
}

.elementsOfHeaderNav{
    text-decoration: none;
    color: white;
    margin-left: 40px;
    margin-right: 40px;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

.elementsOfHeaderNav:hover{
    color: red;
    transform: translate(2px,2px);
}

/* styling of header */
.headerwithname{
    background-image: url(portfolioImg.jpg);
    opacity: 0.9;
    height: 650px;
}

.textinheader{
    color: white;
    padding-left: 150px;
    padding-top: 200px;
    font-size: 65px;
    font-family: 'Poppins', sans-serif;
}

.nameinheader{
    color: white;
    padding-left: 150px;
    padding-top: 0px;
    font-size: 80px;
    font-family: 'Poppins', sans-serif;
}

.headerbutton{
    background-color: #2196f3;
    color: white;
    margin-left: 155px;
    margin-top: 30px;
    width: 200px;
    font-size: 20px;
    border: 1px solid #2196f9;
    border-radius: 2px;
    font-family: 'Poppins', sans-serif;
    font-weight: 1000;
    cursor: pointer;
    text-decoration: none;
    padding-top: 3px;
    padding-bottom: 3px;
}

.paraaboutcoding{
    display: flex;
}

.headingofprojects{
    text-decoration: underline;
    width: 400px;
    padding: 20px;
    padding-top: 30px;
    margin-left: 20px;
    font-size: 40px;
    border-radius: 10px;
}

.text{
    border: 1px solid teal;
    border-radius: 10px;
    box-shadow: 5px 5px teal;
    background-color: rgb(243, 231, 209);
    padding-left: 60px;
    width: 850px;
    height: 320px;
    margin-left: 40px;
    margin-right: 35px;
    margin-bottom: 50px;
}

.firstline{
    font-size: 45px;
}

.points{
    padding-top: 20px;
}

.secondline{
    padding-top: 30px;
    padding-left: 150px;
    font-size: 60px;
    animation-name: nametransform;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-delay: 3s;
}

.image{
    width: 300px;
    height: 300px;
    position: absolute;
    top: 815px;
    left: 630px;
    padding-top: 10px;
}

/* styling my projects */
.grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border: 1px solid teal;
    border-radius: 10px;
    box-shadow: 5px 5px teal;
    background-color: wheat;
    margin-left: 30px;
    margin-right: 30px;
    padding-top: 10px;
}

.item{
    border: solid black;
    position: relative;
    margin-bottom: 10px;
}

.item p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    opacity: 0;
}

.item:hover p{
    opacity: 1;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}


.item:hover img{
    opacity: 0.33;
}

#Contact{
    background-color: black;
    height: 600px;
}

.maintext{
    color: white;
    text-align: center;
    padding-top: 60px;
    font-size: 44px;
    font-family: 'Roboto', sans-serif;
}

.moreaboutcontact{
    color: white;
    text-align: center;
    padding-top: 30px;
    font-family: 'Roboto', sans-serif;
}

.inputs{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    width: 400px;
    padding-left: 38rem;
    padding-top: 20px;   
    border: none;
}

.input{
    background-color: rgb(24, 23, 23);
    border: none;
    outline: none;
    margin-bottom: 10px;
    height: 40px;
    font-size: 20px;
    color: white;
    padding-left: 10px;
}

@keyframes nametransform{
    13%{width: 1px; overflow: hidden;}
    26%{width: 42px; overflow: hidden;}
    39%{width: 70px; overflow: hidden;}
    52%{width: 95px; overflow: hidden;}
    65%{width: 120px; overflow: hidden;}
    78%{width: 150px; overflow: hidden;}
    91%{width: 180px; overflow: hidden;}
    100%{width: 210px; overflow: hidden;}
}